@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}

.nameTitleIndent {
  @apply ml-4 sm:ml-8;
}

.contentStyle {
  @apply flex w-full flex-col justify-center gap-6;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
